In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
mapped = pd.read_csv('../data/mapped_competitions.csv')[["CLASSE", "CAMPEONATO"]]
df = pd.read_csv('../data/Banco de Súmulas - Sumulas.csv')

In [3]:
mapped.head()

   CLASSE               CAMPEONATO
0  Ilca 7  World Championship 2023
1  Ilca 7  World Championship 2022
2  Ilca 7  World Championship 2021
3  Ilca 7  World Championship 2020
4  Ilca 7  World Championship 2019

In [4]:
extracted = df[["Classe Vela", "Nome Competição"]].drop_duplicates()

In [5]:
extracted.head()

             Classe Vela                               Nome Competição
0                 Ilca 7  Central and South American Championship 2022
340               Ilca 6  Central and South American Championship 2023
1006                49er                    European Championship 2021
1021   Formula Kite Fem.                    European Championship 2021
1041  Formula Kite Masc.                    European Championship 2021

In [6]:
# remove spaces from end of words and upper case
mapped["CLASSE"] = mapped["CLASSE"].str.strip().str.upper()
mapped["CAMPEONATO"] = mapped["CAMPEONATO"].str.strip().str.upper()

extracted["Classe Vela"] = extracted["Classe Vela"].str.strip().str.upper()
extracted["Nome Competição"] = extracted["Nome Competição"].str.strip().str.upper()

In [7]:
n_not_extracted = mapped.shape[0] - extracted.shape[0]
print(f"Number of mapped class-competitions: {mapped.shape[0]}")
print(f"Number of extracted class-competitions: {extracted.shape[0]}")
print(f"Number of non-extracted class-competitions: {n_not_extracted}")

Number of mapped class-competitions: 160
Number of extracted class-competitions: 151
Number of non-extracted class-competitions: 9

In [8]:
# get the competitions that were not extracted
mapped["FullID"] = mapped["CLASSE"] + ' ' + mapped["CAMPEONATO"] 
extracted["FullID"] = extracted["Classe Vela"] + ' ' + extracted["Nome Competição"]

In [9]:
flt = mapped["FullID"].isin(extracted["FullID"])
mapped[~flt][["CLASSE", "CAMPEONATO"]]

                 CLASSE                  CAMPEONATO
58         IQFOIL MASC.     WORLD CHAMPIONSHIP 2021
61         IQFOIL MASC.  EUROPEAN CHAMPIONSHIP 2021
67          IQFOIL FEM.     WORLD CHAMPIONSHIP 2021
70          IQFOIL FEM.  EUROPEAN CHAMPIONSHIP 2021
115              49ERFX  EUROPEAN CHAMPIONSHIP 2017
145  FORMULA KITE MASC.     WORLD CHAMPIONSHIP 2022
146  FORMULA KITE MASC.     WORLD CHAMPIONSHIP 2021
153   FORMULA KITE FEM.     WORLD CHAMPIONSHIP 2022
154   FORMULA KITE FEM.     WORLD CHAMPIONSHIP 2021