In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('26o-Centro-Sul-Americano-ILCA-6.xlsx')
df.head()

,Unnamed: 0,Unnamed: 1,FLOTILHA OURO,Unnamed: 3,CLASSIFICAÇÃO,Unnamed: 5,PONTUAÇÃO,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Col.,PAÍS,NOME,Gênero,Classificação,Categoria,Nett,Total,Q1,Q2,Q3,Q4,Q5,F1,F2,F3,F4
1,1,BRA,Erick Marcondes de M.Carpes,M,1,Sub 19,15,24,1,1,2,1,2,9,3,2,3
2,2,ARG,Lucia Falasca,F,1,Pré-Master,22,34,2,1,1,1,12,4,2,4,7
3,3,BRA,Gabriella Marques Kidd,F,1,Sênior,33,52,3,4,1,2,4,19,8,3,8
4,4,URU,Dolores Moreira Fraschini,F,2,Sênior,37,52,4,3,3,14,5,1,5,15,2

In [6]:
df.columns = df.iloc[0]
df = df.drop(0)
df = df.drop(['PAÍS', 'Gênero', 'Classificação', 'Categoria'], axis=1)
df.head()

0 Col.                         NOME Nett Total Q1 Q2 Q3  Q4  Q5  F1 F2  F3 F4
1    1  Erick Marcondes de M.Carpes   15    24  1  1  2   1   2   9  3   2  3
2    2                Lucia Falasca   22    34  2  1  1   1  12   4  2   4  7
3    3       Gabriella Marques Kidd   33    52  3  4  1   2   4  19  8   3  8
4    4    Dolores Moreira Fraschini   37    52  4  3  3  14   5   1  5  15  2
5    5    Florencia Chiarella Salas   44    61  5  4  3  17   8   3  6   6  9

In [7]:
# rename columns
df = df.rename(columns=
                         {'Col.': 'Posição Geral', 'NOME': 'Nome Competidor', 'Total': 'Pontuação Total'})

In [8]:
df['Posição Geral'] = df.index

In [9]:
#turn all the Q1, Q2, ..., F3, F4 columns into rows
df = pd.melt(df, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'], 
                  var_name='Flotilha', value_name='Pontuação Regata')

In [10]:
# rename flotilha
# from "Posição Geral" 1 to 37: "Flotilha" = "O"
# from "Posição Geral" 38 to 74: "Flotilha" = "P"

df['Flotilha'] = df['Posição Geral'].apply(lambda x: 'O' if x <= 37 else 'P')

In [11]:
# se o valor em 'Pontuação Regata' NÃO for um número, 'Punição' recebe o valor de 'Pontuação Regata' e 'Pontuação Regata' recebe ''
df['Punição'] = df['Pontuação Regata'].apply(lambda x: '' if isinstance(x, int) else x)
df['Pontuação Regata'] = df['Pontuação Regata'].apply(lambda x: '' if isinstance(x, str) else x)

In [12]:
df['Nome Competição'] = ['Central and South American Championship 2023'] * len(df)
df['ID Competição'] = [3] * len(df)
df['Classe Vela'] = ['Ilca 6'] * len(df)

In [13]:
column_order = ['Nome Competidor', 'ID Competição', 'Classe Vela', 
                'Pontuação Regata', 'Flotilha', 'Posição Geral', 
                'Punição', 'Pontuação Total', 'Nett', 'Nome Competição']

df = df[column_order]

In [14]:
df.head(20)

,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição
0,Erick Marcondes de M.Carpes,3,Ilca 6,1,O,1,,24,15,Central and South American Championship 2023
1,Lucia Falasca,3,Ilca 6,2,O,2,,34,22,Central and South American Championship 2023
2,Gabriella Marques Kidd,3,Ilca 6,3,O,3,,52,33,Central and South American Championship 2023
3,Dolores Moreira Fraschini,3,Ilca 6,4,O,4,,52,37,Central and South American Championship 2023
4,Florencia Chiarella Salas,3,Ilca 6,5,O,5,,61,44,Central and South American Championship 2023
5,Stefano André Pendola de la Torre,3,Ilca 6,4,O,6,,69,54,Central and South American Championship 2023
6,Thomas Vives Potthoff,3,Ilca 6,3,O,7,,86,60,Central and South American Championship 2023
7,Luciana Andrea Cardozo,3,Ilca 6,2,O,8,,100,62,Central and South American Championship 2023
8,Julian Maria Duarte Argerich,3,Ilca 6,6,O,9,,80,63,Central and South American Championship 2023
9,Francisco Marotta,3,Ilca 6,8,O,10,,105,78,Central and South American Championship 2023
10,Joaquin Galvan,3,Ilca 6,10,O,11,,106,86,Central and South American Championship 2023
11,Sophie Zimmermann Veja,3,Ilca 6,9,O,12,,105,87,Central and South American Championship 2023
12,Antônio Ribeiro Machado,3,Ilca 6,7,O,13,,120,89,Central and South American Championship 2023
13,Caterina Isabel Romero Aguirre,3,Ilca 6,6,O,14,,115,90,Central and South American Championship 2023
14,Agustin Gonzalez Villalba,3,Ilca 6,1,O,15,,122,90,Central and South American Championship 2023
15,Francisco Gomez,3,Ilca 6,,O,16,UFD,130,92,Central and South American Championship 2023
16,Cristina Castellanos Estrada,3,Ilca 6,23,O,17,,116,93,Central and South American Championship 2023
17,Agustina Jordan,3,Ilca 6,11,O,18,,128,98,Central and South American Championship 2023
18,"Delfina ""Delfi! De Seta Dalli",3,Ilca 6,10,O,19,,126,98,Central and South American Championship 2023
19,Lucas Momes Ruiz,3,Ilca 6,14,O,20,,136,103,Central and South American Championship 2023

In [15]:
df.to_csv('results/centralsouthamericachampionship2023_ilca6.csv', index=False)