In [7]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_excel("source-data/2022_ILCA_7_Europeans_ILCA_7_Men_s (2).xlsx")

In [30]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Concurrents / competitors,Pts,Courses / Races
0,1,CYP,212431,KONTIDES Pavlos,"35,00",2 3 7 *10 1 *22 11 4 3 1 3
1,2,GBR,210139,BECKETT Michael,"36,00",*03 2 1 1 1 1 4 22 *25 2 2
2,3,FIN,214111,TAPPER Kaarle,"55,00",7*DNF 1 2 5 4 *49 5 23 3 5
3,4,HUN,213119,VADNAI Jonatan,"69,00",2 4 *09 3 6 12 5 8 *18 17 12
4,5,GBR,221813,WHALEY Sam,"76,00",*32 18 2 16 9 3 2 *24 6 10 10

In [31]:
s = df['Courses / Races'].str.split(' ').apply(pd.Series, 1).stack()

In [32]:
s.index = s.index.droplevel(-1)

In [33]:
s.name = 'Races'

In [34]:
del df['Courses / Races']

In [35]:
df = df.join(s)

In [36]:
df.to_csv('scraped-data/European Championship 2022 Ilca 7.xlsx')