In [319]:
import pandas as pd

In [320]:
df_49er = pd.read_excel('source-data/overall_49er.xlsx')
df_49erFX = pd.read_excel('source-data/overall_49erFX.xlsx')
df_iqfoil_men = pd.read_excel('source-data/overall_IQFOIL_MEN.xlsx')
df_iqfoil_women = pd.read_excel('source-data/overall_IQFOIL_WOMEN.xlsx')
df_kite_men = pd.read_excel('source-data/overall_KITE_MEN.xlsx')
df_kite_women= pd.read_excel('source-data/overall_KITE_WOMEN.xlsx')

In [321]:
df_49er = df_49er.drop(0)
df_49erFX = df_49erFX.drop([0,1])
df_iqfoil_men = df_iqfoil_men.drop([0,1])
df_iqfoil_women = df_iqfoil_women.drop([0,1])

In [322]:
df_49er.columns = df_49er.iloc[0]
df_49erFX.columns = df_49erFX.iloc[0]
df_iqfoil_men.columns = df_iqfoil_men.iloc[0]
df_iqfoil_women.columns = df_iqfoil_women.iloc[0]

df_49er = df_49er.drop(1)
df_49erFX = df_49erFX.drop(2)
df_iqfoil_men = df_iqfoil_men.drop(2)
df_iqfoil_women = df_iqfoil_women.drop(2)

In [323]:
df_49er = df_49er.drop(['Sail #', 'Bow', 'Cat'], axis=1)
df_49erFX = df_49erFX.drop(['Sail #', 'Bow', 'Cat'], axis=1)
df_iqfoil_men = df_iqfoil_men.drop(['Sail #', 'Bow', 'Cat'], axis=1)
df_iqfoil_women = df_iqfoil_women.drop(['Sail #', 'Bow', 'Cat'], axis=1)
df_kite_men = df_kite_men.drop(['Sail #', 'Bow', 'Cat'], axis=1)
df_kite_women = df_kite_women.drop(['Sail #', 'Bow', 'Cat'], axis=1)

In [324]:
# rename columns
df_49er = df_49er.rename(columns=
                         {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral'})
df_49erFX = df_49erFX.rename(columns=
                             {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral'})
df_iqfoil_men = df_iqfoil_men.rename(columns=
                                     {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral'})
df_iqfoil_women = df_iqfoil_women.rename(columns=
                                         {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral'})
df_kite_men = df_kite_men.rename(columns=
                                 {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral', 1: 'Pontuação Regata'})
df_kite_women = df_kite_women.rename(columns=
                                     {'Crew / Club': 'Nome Competidor', 'TOTAL': 'Pontuação Total', 'NET': 'Nett', 'Pos': 'Posição Geral', 1: 'Pontuação Regata'})

In [325]:
#turn all the 1Q, 2Q, ..., 14F, 15F, MR columns into rows
df_49er = pd.melt(df_49er, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'], 
                  var_name='Flotilha', value_name='Pontuação Regata')

df_49erFX = pd.melt(df_49erFX, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'],
                    var_name='Flotilha', value_name='Pontuação Regata')

df_iqfoil_men = pd.melt(df_iqfoil_men, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'],
                        var_name='Flotilha', value_name='Pontuação Regata')

df_iqfoil_women = pd.melt(df_iqfoil_women, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'],
                          var_name='Flotilha', value_name='Pontuação Regata')

In [326]:
# define functions to rename fleet names
def rename_fleet(x):
    if x == 'MR':
        x = 'MR'
    else:
        x = 'G'
    return x

df_49er['Flotilha'] = df_49er['Flotilha'].apply(rename_fleet)
df_49erFX['Flotilha'] = df_49erFX['Flotilha'].apply(rename_fleet)

In [327]:
df_kite_men['Flotilha'] = 'G'
df_kite_women['Flotilha'] = 'G'

In [328]:
df_49er['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_49er)
df_49er['ID Competição'] = [7] * len(df_49er)
df_49er['Classe Vela'] = ['49er'] * len(df_49er)
df_49er['Punição'] = [''] * len(df_49er)

df_49erFX['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_49erFX)
df_49erFX['ID Competição'] = [7] * len(df_49erFX)
df_49erFX['Classe Vela'] = ['49erFX'] * len(df_49erFX)
df_49erFX['Punição'] = [''] * len(df_49erFX)

df_iqfoil_men['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_iqfoil_men)
df_iqfoil_men['ID Competição'] = [7] * len(df_iqfoil_men)
df_iqfoil_men['Classe Vela'] = ['IQFOIL Masc.'] * len(df_iqfoil_men)
df_iqfoil_men['Punição'] = [''] * len(df_iqfoil_men)

df_iqfoil_women['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_iqfoil_women)
df_iqfoil_women['ID Competição'] = [7] * len(df_iqfoil_women)
df_iqfoil_women['Classe Vela'] = ['IQFOIL Fem.'] * len(df_iqfoil_women)
df_iqfoil_women['Punição'] = [''] * len(df_iqfoil_women)

df_kite_men['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_kite_men)
df_kite_men['ID Competição'] = [7] * len(df_kite_men)
df_kite_men['Classe Vela'] = ['Formula Kite Masc.'] * len(df_kite_men)
df_kite_men['Punição'] = [''] * len(df_kite_men)

df_kite_women['Nome Competição'] = ['Semaine Olympique Francaise De Voile 2022'] * len(df_kite_women)
df_kite_women['ID Competição'] = [7] * len(df_kite_women)
df_kite_women['Classe Vela'] = ['Formula Kite Fem.'] * len(df_kite_women)
df_kite_women['Punição'] = [''] * len(df_kite_women)

In [329]:
# drop rows with NaN values in the column 'Pontuação Regata'
df_49er = df_49er.dropna(subset=['Pontuação Regata'])
df_49erFX = df_49erFX.dropna(subset=['Pontuação Regata'])
df_iqfoil_men = df_iqfoil_men.dropna(subset=['Pontuação Regata'])
df_iqfoil_women = df_iqfoil_women.dropna(subset=['Pontuação Regata'])
df_kite_men = df_kite_men.dropna(subset=['Pontuação Regata'])
df_kite_women = df_kite_women.dropna(subset=['Pontuação Regata'])

In [330]:
column_order = ['Nome Competidor', 'ID Competição', 'Classe Vela', 
                'Pontuação Regata', 'Flotilha', 'Posição Geral', 
                'Punição', 'Pontuação Total', 'Nett', 'Nome Competição']

df_49er = df_49er[column_order]
df_49erFX = df_49erFX[column_order]
df_iqfoil_men = df_iqfoil_men[column_order]
df_iqfoil_women = df_iqfoil_women[column_order]
df_kite_men = df_kite_men[column_order]
df_kite_women = df_kite_women[column_order]

In [331]:
# remove , in the name column
df_49er['Nome Competidor'] = df_49er['Nome Competidor'].str.replace(',', '')
df_49erFX['Nome Competidor'] = df_49erFX['Nome Competidor'].str.replace(',', '')
df_iqfoil_men['Nome Competidor'] = df_iqfoil_men['Nome Competidor'].str.replace(',', '')
df_iqfoil_women['Nome Competidor'] = df_iqfoil_women['Nome Competidor'].str.replace(',', '')
df_kite_men['Nome Competidor'] = df_kite_men['Nome Competidor'].str.replace(',', '')
df_kite_women['Nome Competidor'] = df_kite_women['Nome Competidor'].str.replace(',', '')

df_49er['Nome Competidor'] = df_49er['Nome Competidor'].str.replace('\n', '')
df_49erFX['Nome Competidor'] = df_49erFX['Nome Competidor'].str.replace('\n', '')

In [332]:
# in the name column, remove the name of the club after " /" 
df_iqfoil_women['Nome Competidor'] = df_iqfoil_women['Nome Competidor'].str.split(' /').str[0]

In [333]:
df_49er.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_49er.csv', index=False)
df_49erFX.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_49erFX.csv', index=False)
df_iqfoil_men.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_iqfoilmen.csv', index=False)
df_iqfoil_women.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_iqfoilwomen.csv', index=False)
df_kite_men.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_kitemen.csv', index=False)
df_kite_women.to_csv('results/SemaineOlympiqueFrancaiseDeVoile2022_kitewomen.csv', index=False)

In [334]:
# aggregating results
import os

In [335]:
files = [f for f in os.listdir("scraped-data")]

In [336]:
df_init = pd.read_csv("scraped-data/"+files[0])
for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("scraped-data/"+file)])
df_init.to_csv("results/pdfscluster1.csv", index=False)

In [337]:
len(df_init)

2798