# LEVEINSHTEIN DISTANCE

Esse notebook funciona para teste e compreensão da distância de Leveinshtein para comparação de nomes de competidores

In [18]:
import pandas as pd
import numpy as np
import Levenshtein

data = pd.read_csv('Banco de Súmulas - Sumulas.csv')

In [19]:
unique_names = data['Nome Competidor'].unique()

# up case all names
unique_names = [name.upper() for name in unique_names]

# remove accents
import unidecode
unique_names = [unidecode.unidecode(name) for name in unique_names]

In [41]:
# create df where rows and columns are the names and the values are the levenshtein distance
names_comparison = np.array(np.meshgrid(unique_names, unique_names)).T.reshape(-1,2)

In [42]:
# create a third column with the levenshtein distance
names_comparison = pd.DataFrame(names_comparison, columns=['name', 'other_names'])
names_comparison['levenshtein_distance'] = names_comparison.apply(lambda row: Levenshtein.distance(row['name'], row['other_names']), axis=1)

In [43]:
# remove rows where levenshtein distance is 0
names_comparison = names_comparison[names_comparison['levenshtein_distance'] != 0]

In [44]:
# show the names with the lowest levenshtein distance
names_comparison.sort_values(by=['levenshtein_distance']).head(400)

# get the names with levenshtein distance < 5
# names_comparison_testing = names_comparison[names_comparison['levenshtein_distance'] < 7]

,name,other_names,levenshtein_distance
3771009,THOMAS VAN OFWEGEN,THOMAS VAN OFWEGWN,1
2955439,MAYA ASSHKENAZI,MAYA ASHKENAZI,1
4443657,MISAKI TANAKA SERA NAGAMATSU,MISAKI TANAKASERA NAGAMATSU,1
2555708,NITAI HASSON NOA LASRY,NITAI HASSONNOA LASRY,1
4430795,OLIVIA PRICE EVIE HASELDINE,OLIVIA PRICEEVIE HASELDINE,1
...,...,...,...
2617357,MAX NOCHER,MAXIME NOCHER,3
4013997,LI WAN,BI KUN,3
2445808,HAO CHEN,MAI/CHEN,3
393937,ALBERT BECKETT,ANDERS BECKETT,3
32851,NICO PARLIER,NICOLAS PARLIER,3